<ion-view >
    <ion-content >
    <form ng-submit="sendForm()">
  <div class="list">
      <br><br>
      <label class="item item-input item-floating-label">
        <span class="input-label">Ci</span>
        <input type="text" placeholder="Ci" ng-model="Ci">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Contraseña</span>
        <input type="password" placeholder="Contraseña" ng-model="password">
      </label>
  </div>
      <div class="item item-checkbox checkbox-balanced checkbox-clean">
        <label class="checkbox">
          <input type="checkbox">
        </label>
        Recordar login
      </div>
     
 
  <div class="padding">
  <button class="button button-balanced button-large button-block" type="submit">Guardar</button>
  </div>
  </form>
     </ion-content>
</ion-view>