<ion-view >
  
    <!--<ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>-->
    <!--<ion-content class="padding"
    ng-class="{'inactivo' : !data.en_activo}">-->


    
    
   <!--<div class="backgroundProfile"></div>
   
   <img class="imgProfile" src="img/profile-icon.png">
   <div>  
    <h2 >Jaime Andrade Vera</h2>
    <p class="rotulo">Edad: <span class="valor">22</span></p>
    <p class="rotulo">Teléfono: <span class="valor">092984433</span></p>
    <p class="rotulo">Dirección: <span class="valor">Samanes</span></p>
    </div>-->
<div class="propertyImg"></div>


<div class="log">
    <img class="user-icon" width="60px" height="60px" src="img/user.png" alt="">
  <p>Ingrese a su cuenta</p>
  <br><br><br><br><br>
   <button class="button button-light button-large button-block" onClick="window.location.href='#/tab/login'">LOG-IN</button>
</div>

  
 
</ion-view>
